{% extends 'base.html' %}
{% load static %}
  {% block content %}
<style>
  footer {
    text-align: center;
    padding: 3px;
    background-color: #fbdff2;
    color: black;
    display:block;
  }
</style>

<script>
    function checkpass()
    {
        if(document.signup.pwd.value!=document.signup.cpwd.value)
        {
            alert('Password and Repeat Password field does not match');
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }

    </script>


<hr class="mt-0">

<div class="card shadow m-5" id="signupform" style="background-color:#9a88a9" >
    <div class="card-body">

        <div class="container-fluid">
            <center><h4 class="p-2" style="border-bottom: 2px solid white;color:white; font-weight:bold">Create an Account</h4></center>
            <form method="POST" name="signup" onsubmit="return checkpass();" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="color:white">First Name</label>
                            <input type="text" name="fname" placeholder="Enter First Name" class="form-control"
                                   pattern="[A-Za-z]+">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="color:white">Username</label>
                            <input type="text" name="username" placeholder="Enter Last Name" class="form-control"
                                   pattern="[A-Za-z]+">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="color:white">Email ID</label>
                            <input type="email" name="email" placeholder="Email Address" required class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="color:white">Contact</label>
                            <input type="text" name="mobile" placeholder="Contact Number" required
                                   class="form-control">
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="color:white">Password</label>
                            <input type="password" name="password" placeholder="Enter Password" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="color:white">Confirm Password</label>
                            <input type="password" name="cpwd" placeholder="Enter Password Again" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label style="color:white">Upload picture</label>
                            <input type="file" name="image" class="form-control">
                        </div>
                    </div>

                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary" style="background-color:#52487f">
            </form>
        </div>
    </div>
</div>
{% if msg %}
<script>
    alert('{{msg}}');
</script>
{% endif %}
<br>
<br>
<footer id=footer>
<div >
  <p>Bloom By Fatema<br>
    <a href="mailto:Bloom@gmail.com">Bloom@gmail.com</a></p>
  </div>
  </footer>

{% endblock %}
